BODY {
	BACKGROUND-COLOR: #dee3ef; COLOR: #000000; FONT: 12px Verdana,Arial,Helvetica,Sans-Serif; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px
}
TD {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
A:active {
	COLOR: #006600
}
A:link {
	COLOR: #006600
}
A:visited {
	COLOR: #888888
}
A:hover {
	BACKGROUND-COLOR: #dee3ef; COLOR: #ff4444
}
.MainTitle {
	BACKGROUND: #416e9c; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.MainTitleUnderline {
	BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-WEIGHT: bold; HEIGHT: 20px; TEXT-ALIGN: right
}
.MainTitleSeparator {
	BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(/images/shadow.gif); COLOR: #000000; HEIGHT: 20px
}
.SearchBox {
	BACKGROUND: #eeeeff; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid
}
.ControlBox {
	BORDER-BOTTOM: #000000 0px; BORDER-LEFT: #000000 0px; BORDER-RIGHT: #000000 0px; BORDER-TOP: #000000 0px
}
.ControlHeader {
	BACKGROUND: #416e9c; BORDER-BOTTOM-STYLE: double; BORDER-LEFT-STYLE: double; BORDER-RIGHT-STYLE: double; BORDER-TOP-STYLE: double; COLOR: #ffffff; TEXT-ALIGN: center
}
.ControlItem {
	BACKGROUND-COLOR: #dee3ef; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-BOTTOM: 8px
}
.ControlLink {
	TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TableHeader {
	BACKGROUND: #416e9c; BORDER-BOTTOM: double; BORDER-LEFT: double; BORDER-RIGHT: double; BORDER-TOP: double; COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.TopicList {
	PADDING-LEFT: 8px; PADDING-RIGHT: 8px; TEXT-ALIGN: left
}
.TableSubHeader {
	BACKGROUND: #d8f8d8; COLOR: #000000; FONT-WEIGHT: bold
}
.TableControl {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.PrivacyDetail {
	BACKGROUND: #f0f0f0
}
.ArticleContent {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.BigLink {
	FONT-SIZE: 20px
}
.Abstract {
	BACKGROUND: #eeeeff
}
.ErrorText {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.MessageText {
	COLOR: #008000
}
.CopyrightText {
	COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: lighter
}
.TopicLink {
	FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ListText {
	FONT-SIZE: 10px
}
.SmallText {
	FONT-SIZE: 10px
}
.SmallTitle {
	FONT-SIZE: 10px; FONT-WEIGHT: bolder
}
